.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background-color: #666;
  color: #ccc;
}
a {
  color: #7cc;
}
button:hover {
  color: #fff;
  background-color: #333;
  cursor: pointer;
}
input {
  background-color: #fff;
  border-radius: 0.3em;
  border: none;
  padding: 0.3em 1em;
  outline: none;
}
option {
  padding: 1em;
}
select {
  padding: 0.3em 1em;
}
